*{margin: 0; padding: 0; box-sizing: border-box;}

p {
    padding: 10px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgba(0, 0, 255, 0.308);
    width: 1000px;
}

a:link{text-decoration: none; font-size: larger;}
